<div class="post">

  <div class="post-title">
    <a href="<%= post.path %>">
      <%= post.title %>
    </a>
  </div>

  <% if post.show_date == true %>
    <div class="post-date">
      <%= post.created_at.strftime("%B %e, %Y") %>
    </div>
  <% end %>

  <div class="post-content">
    <%= post.rendered_content %>
  </div>

  <div class="like-container">
    <button class="like-button" data-uuid="<%= post.uuid %>">
      <svg class="liked <% if !liked_by_current_user(post) %>hidden<% end %>" width="29" height="29" viewBox="0 0 35 35">
          <path d="M19.5 4c-1.948 0-3.77.898-5 2.434C13.27 4.898 11.448 4 9.5 4 5.916 4 3 7.02 3 10.734c0 4.793 6.227 10 9.95 13.11.296.25.853.723 1.212 1.03.196.166.48.166.677 0 .39-.332 1.02-.87 1.37-1.158 3.66-3.022 9.79-8.08 9.79-12.982C26 7.02 23.08 4 19.5 4z" fill-rule="evenodd"></path>
      </svg>

      <svg class="unliked <% if liked_by_current_user(post) %>hidden<% end %>" width="29" height="29" viewBox="0 0 29 29">
        <path d="M12.5 21a.492.492 0 0 1-.327-.122c-.278-.24-.61-.517-.978-.826-2.99-2.5-7.995-6.684-7.995-10.565C3.2 6.462 5.578 4 8.5 4c1.55 0 3 .695 4 1.89a5.21 5.21 0 0 1 4-1.89c2.923 0 5.3 2.462 5.3 5.487 0 3.97-4.923 8.035-7.865 10.464-.42.35-.798.66-1.108.93a.503.503 0 0 1-.327.12zM8.428 4.866c-2.414 0-4.378 2.05-4.378 4.568 0 3.475 5.057 7.704 7.774 9.975.243.2.47.39.676.56.245-.21.52-.43.813-.68 2.856-2.36 7.637-6.31 7.637-9.87 0-2.52-1.964-4.57-4.377-4.57-1.466 0-2.828.76-3.644 2.04-.1.14-.26.23-.43.23-.18 0-.34-.09-.43-.24-.82-1.27-2.18-2.03-3.65-2.03z" fill-rule="evenodd"></path>
      </svg>
    </button>

    <% if post.like_count > 0 %>
      <div class="like-count"> <%= post.like_count %> </div>
    <% end %>
    
  </div>

</div>
